* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

header {
    height: 90px;
    border-bottom: 1px solid black;
    padding: 10px;
}

header img {
    height: 50px;
}

header span {
    font-size: 25px;
    color: rgb(68, 68, 68);
    position: relative;
    bottom: 20px;
}

.blue {
    color: rgb(0, 98, 255);
    border-bottom: 3px solid rgb(0, 98, 255);
    height: 29px;
}

li {
    display: inline-block;
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    color: rgb(68, 68, 68);
    position: relative;
    bottom: 5px;
}